<form id="wappSendMessage" class="form" role="form"
      method="post"
      enctype="application/x-www-form-urlencoded"
>
    <div class="mb-3">
        <label for="titleFormControlInput" class="form-label">Title</label>
        <input name="title" type="text" class="form-control" id="titleFormControlInput" placeholder="">
    </div>
    <div class="mb-3">
        <label for="descriptionFormControlTextarea" class="form-label">Description</label>
        <textarea name="description" class="form-control" id="descriptionFormControlTextarea" rows="5"></textarea>
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">Save</button>
    </div>
</form>
