{% extends 'bootstrap-layout.html.twig' %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block main %}
    <div class="container pt-3 border">
        <div class="row">
            <div class="container">
                <h1>Add Todo</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                include form here!!!
            </div>
            <div class="col-md-3">
                <div class="d-flex flex-column">
                    side menu (todo...)
                </div>
            </div>
        </div>
    </div>
{% endblock %}
