<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         verbose="true"
         failOnRisky="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
>
    <testsuites>
        <testsuite name="all">
            <directory>./tests</directory>
            <directory>./todo-list/tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./src</directory>
            <directory>./todo-list/src</directory>
            <exclude>
                <file>./todo-list/src/Adapter/Http/Web/HomeController.php</file>
                <file>./todo-list/src/Adapter/Http/Web/AboutController.php</file>
                <file>./todo-list/src/Adapter/Http/Web/HelpController.php</file>
                <file>./todo-list/src/Adapter/Http/Web/ToDoListController.php</file>
            </exclude>
        </whitelist>
    </filter>

    <php>
        <ini name="error_reporting" value="-1" />
    </php>
</phpunit>
