<?xml version="1.0"?>
<psalm xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="https://getpsalm.org/schema/config"
       xsi:schemaLocation="https://getpsalm.org/schema/config vendor/vimeo/psalm/config.xsd"
       cacheDirectory="var/psalm"
       totallyTyped="true"
       errorBaseline="psalm-baseline.xml">

    <projectFiles>
        <directory name="src/"/>
        <ignoreFiles allowMissingFiles="true">
            <directory name="vendor/"/>
            <directory name="var/"/>
            <directory name="src/Config/"/>
        </ignoreFiles>
    </projectFiles>

    <issueHandlers>
        <DeprecatedMethod>
            <errorLevel type="info">
             </errorLevel>
        </DeprecatedMethod>
        <InvalidCatch>
            <errorLevel type="info">
            </errorLevel>
        </InvalidCatch>
        <InternalMethod>
            <errorLevel type="info">
            </errorLevel>
        </InternalMethod>
        <MissingConstructor>
            <errorLevel type="info">
            </errorLevel>
        </MissingConstructor>
        <RedundantCondition>
            <errorLevel type="info">
            </errorLevel>
        </RedundantCondition>
        <PropertyNotSetInConstructor>
            <errorLevel type="info">
                <directory name="tests/" />
            </errorLevel>
        </PropertyNotSetInConstructor>

        <!-- false positives -->
        <MixedMethodCall>
            <errorLevel type="info">
            </errorLevel>
        </MixedMethodCall>
        <!-- false positives UseCase Interface are defined without return type. -->
        <MissingReturnType>
            <errorLevel type="info">
                <directory name="src/Application/Port/In" />
            </errorLevel>
        </MissingReturnType>
        <UndefinedGlobalVariable>
            <errorLevel type="error">
                <file name="src/Config/container-config.php" />
            </errorLevel>
        </UndefinedGlobalVariable>
    </issueHandlers>

    <mockClasses>
        <class name="PHPUnit\Framework\MockObject\MockObject"/>
    </mockClasses>
</psalm>